body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
main{
    flex-grow: 1;
}
.ancho{
    max-width: 150px;
}
img{
    object-fit: cover;
    max-height: 340px;
    width: auto;
}
.detalle{
    height: 100%;
}